<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}"> 
</head>

<body>
    <div id="shell">
        <header>
            <h1>Todays Workouts</h1>
        </header>
        <ul>
        {% for i in info %}
            <li>{i.name}</li>
        {% endfor %}
        </ul>

    </div>
</body>

</html>